*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Beau;
    src: url("Fuentes/BeauRivage-Regular.ttf");
}
@font-face {
    font-family: Serif-Italic;
    src: url("Fuentes/PTSerif-Italic.ttf");
}
@font-face {
    font-family: Serif-Bold;
    src: url("Fuentes/PTSerif-Bold.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("Fuentes/Roboto-Italic.ttf");
}

/* CSS GENERAL: */
body {
    background-image: url("Imagenes/fondo1.jpg");
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
}
.header-container {
    background-color: greenyellow;
    font-family: Serif-Italic;
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.menu-container {
    margin: 10px;
    padding: 5px;
}

.Noticias-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}

.footer-container {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.conocenos-container {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.futbol-container {
    display: block;
    align-items: column;
}

.noticia1 {
    background-color: white;
    border: 2px solid black;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.noticia2 {
    background-color: white;
    border: 2px solid black;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

/* Css de ambos formularios */
.speaker-form-header {
    text-align: center;
    background-color: black;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.speaker-form {
    background-color: #f6f7f8;
    border: 1px solid  #d6d9dc;
    border-radius: 3px;
    width: 80%;
    margin: 0 0 40px 0;
    padding: 50px;

}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label{
    margin-bottom: 15px;
}

.form-row textarea{
    font-size: 14px;
    border: 1px solid goldenrod;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 200px;
    min-width: 100%;
    resize: none;
}

.form-row .instructions {
    color: #999;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #f6f7f8;
    background-color: #5995da;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}