.footer-container {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}